body {
    font-family: Arial
}

h1 {
    text-align: center
}

p {
    padding: 10
}


.chart {
    border: 2px solid black
}



.square {
    fill:rgb(240, 162, 229)
}

.circle {
    fill:lightblue
}


.shapes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.square:hover {
    fill: red;
}

.circle:hover {
    fill: lightgreen;
  }